[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
parsel = "*"
typing-extensions = "*"
pandas = "*"
hence = {git = "git+https://github.com/0hsn/hence.git"}

[dev-packages]
flake8 = "*"
pylint = "*"
notebook = "*"
black = "*"
icecream = "*"

[requires]
python_version = "3.11"
